@media screen and (max-width: 1150px) {
	nav.nav {
		.toggle-container {
			display: block;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
		padding: 2rem 2rem 2rem 0;
		left: 0;
		height: 20vh;
		width: 100vw;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		box-shadow: 0 0 25px $alt-color;
		& ul.nav-links {
			display: flex;
			flex-direction: row;
			& li {
				margin: 0 1rem;
				&:hover {
					transform: translateX(0);
					transform: scale(1.1);
				}
				&.active {
				}
			}
		}
		& .nav-bottom {
			display: none;
		}
	}

	header.header {
		.toggle-container {
			display: none;
		}
		margin-top: 15vh !important;
		padding-top: 5rem;
		& h4 {
			font-size: 1rem;
		}
		& i {
			font-size: 2.5rem;
		}
		& .header-container {
			margin: 3rem 1.5rem;
		}
		& .header-main {
			flex-direction: column;
			align-items: center;
			& .header-main-cards {
				width: 100%;
				& .card {
					width: 25%;
					min-width: 12rem;
					text-align: center;
					align-items: center;
				}
			}
			& .header-card-list {
				width: 50%;
				margin: 2.5rem 1rem 1rem 1rem;
				& .project-category {
					& a {
						opacity: 1;
						padding: 0.25rem 0;
						z-index: 2;
						font-size: 0.8rem;
						font-weight: 400;
						background-color: rgba(0, 0, 0, 0.301);
						color: $primary-color;
						width: 100px;
						&:nth-of-type(1) {
							border-radius: 5px 5px 0 0;
						}
						&:nth-of-type(odd) {
							transform: translate(0, 0);
						}
						&:nth-of-type(even) {
							transform: translateY(87%);
						}
					}
				}
			}
		}
	}

	section.contact {
		clip-path: polygon(0 0, 100% 0, 100% 80%, 80% 100%, 0 100%);
		& .contact-info {
			transform: translate(-30%, -30%);
			& a {
				font-size: 0.8rem;
			}
		}
		& form {
			transform: translateX(25%);
		}
	}

	header.header,
	section.blog,
	section.skills,
	section.contact {
		margin-left: 0 !important;
	}
}

@media screen and (max-width: 600px) {
	body .background-circle {
		display: none;
	}

	nav.nav {
		.toggle-container {
			display: none;
		}
		padding: 0;
		& ul.nav-links li {
			margin: 0.5rem;
			letter-spacing: 1px;
			& a {
				color: $primary-color;
			}
			&:last-of-type a {
				color: $secondary-color;
				background-color: $primary-color;
			}
		}
		& .nav-name {
			height: 100%;
			width: 25vw;
			background-color: $alt-color;
			box-shadow: none;
			& .name {
				font-size: 1.75rem;
				color: $primary-color;
				box-shadow: none;
				padding: 2vh 0 0 0;
			}
		}
	}

	header.header {
		.toggle-container {
			display: block;
			top: 1.5%;
			right: 50%;
			transform: translate(50%, 0);
			.toggle {
				i {
					font-size: 1rem;
				}
			}
		}
		.header-container {
			margin: 3rem 0.5rem;
			padding: 1rem 0.5rem 5rem 0.5rem;
			& .header-head {
				text-align: center;
			}
			& .header-main .header-main-cards {
				margin: 0;
				& .card {
					margin-right: 0;
					width: 100%;
				}
			}

			& .header-card-list {
				margin: 0;
				margin-top: 1.5rem;
				padding: 1rem;
				width: 90%;
			}
		}
	}

	section.contact {
		clip-path: polygon(0 0, 100% 0, 100% 85%, 75% 100%, 0 100%);
		& .contact-intro {
			& h1 {
				font-size: 1.75rem;
			}
			& p {
				font-size: 1rem;
				width: 90vw;
			}
		}
		& .contact-info {
			display: none;
		}
		& form {
			width: 92vw;
			transform: translateX(0);
			& .form-content {
				width: 100%;
			}
		}
	}

	footer.footer {
		display: block;
		color: $primary-color;
		font-weight: 400;
		font-size: 0.8rem;
		position: relative;
		background-color: $secondary-color;
		box-shadow: 0 0 25px $alt-color;
		&.light {
			background-color: $alt-color;
		}
		& .footer-content {
			display: flex;
			justify-content: space-between;
			margin: 0 2rem;
			padding: 1.5rem 0;
			& .footer-left {
				display: flex;
				& p:nth-of-type(2) {
					margin-left: 2rem;
				}
			}
		}
		& i {
			color: $primary-color;
			padding-top: 0rem;
			margin: 0 0.5rem;
			font-size: 1rem;
		}
	}
}

@media screen and (max-width: 415px) {
	div.mobile-menu-links {
		display: block;
		position: fixed;
		width: 100%;
		&.showMenu {
			opacity: 1;
			z-index: 999998;
			transition: all 0.7s;
		}
		&.hideMenu {
			opacity: 0;
			z-index: -1;
			transition: all 0.7s;
		}
		.nav-links {
			position: absolute;
			display: flex;
			flex-direction: column;
			top: 15vh;
			left: 50%;
			background-color: $secondary-color;
			box-shadow: 0 2px 15px $alt-color;
			width: 100vw;
			transform: translateX(-50%);
			align-items: center;
			z-index: 999999;
			text-align: center;
			border-radius: 0 0 10px 10px;
			&.light {
				background-color: $primary-color;
				li {
					a {
						color: $alt-color;
					}
				}
			}
			li {
				align-self: center;
				a {
					color: #fff;
					background-color: transparent;
				}
			}
			.blog {
				background-color: transparent;
			}
		}
	}
	nav.nav {
		&.light {
			color: $alt-color;
		}
		.mobile-menu {
			display: block;
			.hamburger.showMenu {
				opacity: 0;
				transform: rotate(-360deg);
				z-index: -1;
				transition: all 0.7s;
			}
			.hamburger.hideMenu {
				opacity: 1;
				z-index: 1;
				transition: all 0.7s;
			}
			.close.showMenu {
				opacity: 1;
				transform: rotate(-360deg);
				z-index: 1;
				transition: all 0.7s;
			}
			.close.hideMenu {
				opacity: 0;
				z-index: -1;
				transition: all 0.7s;
			}
		}
		height: 15vh;
		& .nav-top {
			height: 100%;
			& .nav-name {
				height: 100%;
			}
		}
		& .nav-middle {
			padding-right: 1rem;
			.nav-links {
				display: none;
			}
		}
		& ul.nav-links li {
			margin: 0.4rem;
			letter-spacing: 0;
		}
	}

	header.header {
		padding-top: 2rem;
		.header-head {
			h5 {
				padding-top: 1rem;
			}
		}
		& .header-main #mobile-instructions {
			display: block;
			margin-bottom: 0.5rem;
			color: $alt-color;
		}
		.header-main {
			.header-card-list {
				padding: 0;
				.list-overlay {
					.overlay-content {
						display: block;
						color: $primary-color;
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
						&.light {
							color: $alt-color;
						}
						i {
							font-size: 2rem;
							&.moveUp {
								transform: translateY(-15px) scale(1.1);
								transition: all 1s;
							}
							&.moveDown {
								transform: translateY(0) scale(1);
								transition: all 1s;
							}
						}
					}
					&.hideOverlay {
						.overlay-content {
							opacity: 0;
							transition: all 0.5s;
						}
					}
				}
				& div.project-category {
					&.utilities {
						i:nth-of-type(1) {
							display: block;
							position: absolute;
							top: 40%;
						}
						i:nth-of-type(2) {
							display: block;
							position: absolute;
							top: 75%;
						}
					}
					&.websites {
						i:nth-of-type(1) {
							display: block;
							position: absolute;
							top: 75%;
						}
					}
					img {
						width: 70%;
						margin: auto;
						&:nth-of-type(1),
						&:nth-of-type(2),
						&:nth-of-type(3) {
							border-radius: 0;
						}
						&:nth-of-type(1) {
							& + a {
								border-radius: 0.5rem 0 0 0;
							}
							& + a + a {
								border-radius: 0 0.5rem 0 0;
							}
						}
					}
					a {
						font-size: 0.6rem;
						&:nth-of-type(odd) {
							transform: translate(0, 0);
							background-color: rgba(0, 0, 0, 0.596);
							box-shadow: 0 2px 10px $alt-color;
							padding: 5vh 0 0 0;
							width: 15%;
							height: 33.3333%;
						}
						&:nth-of-type(even) {
							transform: translateX(567%) translateY(-50%);
							background-color: rgba(0, 0, 0, 0.596);
							box-shadow: 0 2px 10px $alt-color;
							padding: 5vh 0 0 0;
							width: 15%;
							height: 33.33333%;
						}
					}
					h4 {
						position: absolute;
						top: 25%;
						left: 50%;
						transform: translateX(-50%);
					}
					i {
						display: block;
						position: absolute;
						top: 60%;
						left: 50%;
						font-size: 3rem;
						transform: translateX(-50%);
					}
				}
			}
		}
	}

	section.blog {
		h1 {
			text-align: center;
		}
		.blog-content {
			.latest-read {
				.book {
					flex-direction: column;
					.book-image {
						text-align: center;
						img {
							max-width: 100%;
						}
					}
				}
			}
		}
	}

	section.skills {
		padding: 5rem 1rem 15rem 1rem;
		.skill-categories {
			.skill-category-card {
				width: 95vw;
				margin: 3rem 0.5rem;
			}
		}
	}

	footer.footer .footer-content {
		& .footer-left {
			display: flex;
			flex-direction: column;
			& p:nth-of-type(2) {
				margin-left: 0;
			}
		}
	}
}

@media screen and (min-width: 1600px) {
	header.header {
		padding: 6rem;
	}
}

@media screen and (min-width: 2000px) {
	nav.nav {
		padding-right: 4rem;
		&.navHover {
			transform: translateX(11vw);
			transition: all 0.6s;
		}
		& .nav-name {
			& .name {
				font-size: 2rem;
			}
		}
		& .nav-links {
			& li {
				font-size: 1.1rem;
				margin: 1.5rem 0;
			}
		}
		& .nav-icons a {
			font-size: 2rem;
		}
	}
	header.header {
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
		& .header-container {
			max-width: 75vw;
			& .header-head {
				max-width: 25vw;
				margin-bottom: 7%;
				& h1 {
					font-size: 3.5rem;
					margin-bottom: 1rem;
				}
				& h5 {
					font-size: 1.25rem;
				}
			}
		}
		& .header-main {
			& .header-main-cards {
				& .card {
					width: 45%;
					margin: 0 2rem 3rem 0;
					& h4 {
						font-size: 1.5rem;
					}
					& p {
						padding-top: 1rem;
						font-size: 1rem;
					}
					& i {
						font-size: 2rem;
						padding: 1.5rem;
					}
				}
			}
			& .header-card-list {
				width: 22%;
				height: 40vh;
				margin: 0;
				& .project-category {
					& a {
						padding: 7.9% 0;
					}
				}
			}
		}
	}

	section.contact {
		height: 100vh;
		& .contact-intro {
			padding: 4rem 0;
			margin-bottom: 2rem;
			& h1 {
				font-size: 3.5rem;
			}
		}
		& .contact-info {
			height: 50%;
			top: 50%;
			& .contact-icons {
				justify-content: center;
			}
		}
		form {
			padding: 3.5rem 5rem;
			width: 45vw;
			& .form-content {
				width: 80%;
				& .form-content-header {
					padding: 2rem 2rem 2rem 0;
					& h2 {
						font-size: 2.75rem;
					}
				}
				& .name-email {
					margin-bottom: 3rem;
					& .name,
					.email {
						& input {
							padding: 1rem;
						}
					}
				}
				& .company {
					margin-bottom: 3rem;
					& input {
						padding: 1rem;
					}
				}
				& .message {
					margin-bottom: 3rem;
					& textarea {
						padding: 1rem;
					}
				}
			}
		}
	}
}

@keyframes navPageLoad {
	0% {
		transform: translateX(0vw);
	}
	15% {
		transform: translateX(12.75vw);
	}
	30% {
		transform: translateX(12.75vw);
	}
	100% {
		transform: translateX(0vw);
	}
}
