@media screen and (max-width: 830px) {
	nav.nav {
		height: 20vh;
		width: 100vw;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		background-color: #fff;
		& ul.nav-links {
			display: flex;
			flex-direction: row;
			& li {
				margin: 0 0.75rem;
				&:hover {
					transform: translateX(0);
				}
			}
		}
	}

	.nav-bottom {
		flex-direction: row;
		align-items: flex-start;
		& p {
			display: none;
		}
	}

	div.content {
		position: absolute;
		left: 0;
		width: 100vw;
	}
}

@media screen and (max-width: 600px) {
	nav.nav {
		padding: 0;
		& ul.nav-links li {
			margin: 0.5rem;
			letter-spacing: 1px;
		}
		& .nav-name {
			height: 100%;
			width: 50px;
			& .name {
				font-size: 1.35rem;
			}
		}
		& .nav-bottom .nav-icons {
			transform: translateY(-20px);
			display: flex;
			flex-direction: column;
			& a {
				font-size: 0.75rem;
				max-width: 100px;
				margin: 0.25rem 0.25rem 0.25rem 0;
			}
		}
	}
}
