* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Roboto Slab', serif;
	font-size: 16px;
	line-height: 1.75;
	color: #333;
	overflow-x: hidden;
}

.btn:hover {
	cursor: pointer;
}

.btn:focus {
	outline: transparent;
}
