@import 'resets';
@import 'variables';
@import 'queries';

a {
	color: $text-color;
	text-decoration: none;
	text-transform: uppercase;
}
.nav {
	height: 100vh;
	width: 20vw;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
	padding: 2rem 2.5rem;
	box-shadow: 0 0 35px $box-shadow;
	color: $text-color;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	&-name .name {
		background-color: $text-color;
		color: #fff;
		padding: 0.5rem 1.25rem;
		letter-spacing: 2px;
		line-height: 1.4;
		text-align: center;
		text-transform: uppercase;
		font-weight: 300;
		font-size: 1.5rem;
		box-shadow: 0 0 15px $box-shadow;
	}
	&-links {
		display: flex;
		flex-direction: column;
		list-style: none;
		& li {
			padding: 0.25rem 0;
			margin: 0.75rem 0;
			font-size: 0.8rem;
			letter-spacing: 2px;
			text-align: right;
			align-self: flex-end;
			border-bottom: 1px solid #fff;
			&:hover {
				border-bottom: 1px solid $text-color;
				transform: translateX(-5px);
				transition: all 0.7s;
			}
			&.projects {
				color: rgba(128, 128, 128, 0.664);
				&:hover {
					border-bottom: 1px solid #fff;
				}
			}
			&.active {
				border-bottom: 1px solid $text-color;
			}
		}
	}
	&-bottom {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		text-align: right;
	}
	&-message {
		margin-bottom: 2rem;
		max-width: 150px;
	}
	&-icons a {
		max-width: 150px;
		margin: 0.5rem;
		font-size: 1.25rem;
		&:hover {
			color: rgb(158, 124, 81);
			transform: translateY(-5px);
		}
	}
}

.header {
	height: 100vh;
	overflow-x: hidden;
	background-image: url(/assets/background.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	margin-left: 20vw;
	text-align: center;
	z-index: -1;
	&-content {
		height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	& h1 {
		font-weight: 300;
		font-size: 2.5rem;
		letter-spacing: 2px;
		text-shadow: 0 -5px 10px rgba(0, 0, 0, 0.505);
	}
}

.contact-btn {
	padding: 1.5rem 3rem;
	font-size: 1.25rem;
	margin: 1.5rem;
	background-color: rgba(255, 255, 255, 0.608);
	border: none;
	border-radius: 76% 24% 80% 20% / 32% 25% 75% 68%;
	color: $text-color;
	text-transform: uppercase;
	z-index: 0;
	box-shadow: 0 0 15px $box-shadow;
}

.resume {
	margin-left: 20vw;
	padding: 5rem 0;
	text-align: center;
	position: relative;
	& h1 {
		font-weight: 300;
		font-size: 2.5rem;
		letter-spacing: 5px;
		text-shadow: 0 -1px 5px rgba(0, 0, 0, 0.505);
		margin-bottom: 2rem;
	}
	& img {
		height: 82vh;
		box-shadow: 0 0 25px $box-shadow;
	}
	& .fullScreen,
	& .download {
		position: absolute;
		top: 50%;
		left: 50%;
		background-color: $text-color;
		color: #fff;
		text-transform: uppercase;
		border: 1px solid #fff;
		letter-spacing: 2px;
		text-align: center;
		width: 140px;
		height: 30px;
		opacity: 0;
	}
	& .fullScreen {
		top: 50%;
		left: 47%;
		transform: translate(-100%, -50%);
	}
	& .download {
		transform: translate(0, -50%);
	}
	& button.visible {
		opacity: 1;
		transition: all 1s;
		cursor: pointer;
		&:hover {
			letter-spacing: 10px;
			font-size: 0.5rem;
		}
	}
	& button.hidden {
		opacity: 0;
		transition: all 1s;
	}
}

.resume-img.imgHover {
	opacity: 0.3;
	transform: scale(0.9);
	transition: all 1s;
}

.resume-img.imgBlur {
	opacity: 1;
	transform: scale(1);
	transition: all 1s;
}
