@import 'resets';
@import 'variables';
@import 'queries';

a {
	color: $text-color;
	text-decoration: none;
	text-transform: uppercase;
}

input,
textarea {
	outline: transparent;
}

.nav {
	height: 100vh;
	width: 15vw;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
	padding: 2rem 2.5rem 2rem 1rem;
	box-shadow: 0 0 35px $box-shadow;
	color: $text-color;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	&-name .name {
		background-color: $text-color;
		color: #fff;
		padding: 0.5rem 1.25rem;
		letter-spacing: 2px;
		line-height: 1.4;
		text-align: center;
		text-transform: uppercase;
		font-weight: 300;
		font-size: 1.5rem;
		box-shadow: 0 0 15px $box-shadow;
	}
	&-links {
		display: flex;
		flex-direction: column;
		list-style: none;
		& li {
			padding: 0.25rem 0;
			margin: 0.75rem 0;
			font-size: 0.8rem;
			letter-spacing: 2px;
			text-align: right;
			align-self: flex-end;
			border-bottom: 1px solid #fff;
			&:hover {
				border-bottom: 1px solid $text-color;
				transform: translateX(-5px);
				transition: all 0.7s;
			}
			&.projects {
				color: rgba(128, 128, 128, 0.664);
				&:hover {
					border-bottom: 1px solid #fff;
				}
			}
			&.active {
				border-bottom: 1px solid $text-color;
			}
		}
	}
	&-bottom {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		text-align: right;
	}
	&-message {
		margin-bottom: 2rem;
		max-width: 150px;
	}
	&-icons a {
		max-width: 150px;
		margin: 0.5rem;
		font-size: 1.25rem;
		&:hover {
			color: rgba(26, 64, 154, 0.8);
			transform: translateY(-5px);
		}
	}
}

.header {
	height: 100vh;
	overflow-x: hidden;
	background-image: linear-gradient(rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0.6)),
		url(https://images.unsplash.com/photo-1454117096348-e4abbeba002c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2602&q=80);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	margin-left: 15vw;
	text-align: center;
	z-index: -1;
	display: flex;
	justify-content: center;
	align-items: center;
	&-content {
		height: 85vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 2rem;
		background-color: rgba(255, 255, 255, 0.608);
		box-shadow: 0 0 25px $box-shadow;
	}
	& i {
		font-size: 10rem;
		margin: 2rem 0;
	}
	& h1 {
		font-weight: 300;
		font-size: 2rem;
		letter-spacing: 2px;
	}
	& h1:nth-of-type(1) {
		color: rgba(26, 64, 154, 0.8);
	}
}

.contact-btn {
	padding: 1.5rem 3rem;
	font-size: 1.25rem;
	margin-top: 3rem;
	background-color: rgba(255, 255, 255, 0.608);
	border: none;
	border-radius: 76% 24% 80% 20% / 32% 25% 75% 68%;
	color: $text-color;
	text-transform: uppercase;
	z-index: 0;
	box-shadow: 0 0 15px $box-shadow;
	position: relative;
	& a {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
		height: 100%;
		align-self: center;
	}
}

.skills {
	height: 100vh;
	margin-left: 15vw;
	padding: 2rem 2rem 0 2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	& h1 {
		font-size: 2.5rem;
		font-weight: 300;
		margin: 2rem;
		text-transform: uppercase;
		letter-spacing: 15px;
	}
	& .mySkills {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		text-align: center;
		& .skill {
			width: 15vw;
			margin: 1rem;
			& i {
				color: $text-color;
				font-size: 3.5rem;
				margin-bottom: 0.5rem;
				&:hover {
					transform: rotate(10deg) scale(1.1);
					text-shadow: -1px -3px 5px $box-shadow;
					transition: all 0.5s;
				}
				&.fa-html5:hover,
				&.fa-html5.skillColor {
					color: #df4b25;
				}
				&.fa-css3-alt:hover,
				&.fa-css3-alt.skillColor {
					color: #249ddb;
				}
				&.fa-js:hover,
				&.fa-js.skillColor {
					color: #f0d91d;
				}
				&.fa-bootstrap:hover,
				&.fa-bootstrap.skillColor {
					color: #543b79;
				}
				&.fa-sass:hover,
				&.fa-sass.skillColor {
					color: #c76396;
				}
				&.fa-node-js:hover,
				&.fa-node-js.skillColor {
					color: #73b258;
				}
				&.fa-git:hover,
				&.fa-git.skillColor {
					color: #e94e32;
				}
				&.fa-github-square:hover,
				&.fa-github-square.skillColor {
					color: #1a1e22;
				}
				&.fa-wordpress:hover,
				&.fa-wordpress.skillColor {
					color: #21759b;
				}
				&.fa-image:hover,
				&.fa-image.skillColor {
					color: #31a8ff;
				}
				&.fa-adjust:hover,
				&.fa-adjust.skillColor {
					color: #001e36;
				}
				&.fa-adobe:hover,
				&.fa-adobe.skillColor {
					color: #fa0f00;
				}
				&.fa-file-excel:hover,
				&.fa-file-excel.skillColor {
					color: #01723a;
				}
				&.fa-terminal:hover,
				&.fa-terminal.skillColor {
					color: #8dd35f;
				}
				&.fa-laptop:hover,
				&.fa-laptop.skillColor {
					color: #02c1ba;
				}
				&.fa-npm:hover,
				&.fa-npm.skillColor {
					color: #e32e37;
				}
			}
			& h2 {
				font-size: 1.1rem;
				font-weight: 300;
				letter-spacing: 2px;
			}
		}
	}
}

.resume {
	margin-left: 15vw;
	padding: 5rem 0;
	text-align: center;
	position: relative;
	background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(51, 51, 51, 0.5));
	& h1 {
		font-weight: 300;
		font-size: 2.5rem;
		letter-spacing: 15px;
		margin-bottom: 2rem;
		text-transform: uppercase;
	}
	& img {
		height: 82vh;
		box-shadow: 0 0 25px $box-shadow;
	}
	& .fullScreen {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-color: $text-color;
		text-transform: uppercase;
		border: 1px solid #fff;
		letter-spacing: 2px;
		text-align: center;
		width: 150px;
		height: 40px;
		opacity: 0;
		& a {
			color: #fff;
		}
	}
	& button.visible {
		opacity: 1;
		transition: all 1s;
		cursor: pointer;
		&:hover {
			letter-spacing: 5px;
			font-size: 1.05rem;
			transition: all 0.4s;
		}
	}
	& button.hidden {
		opacity: 0;
		transition: all 1s;
	}
}

.resume-img.imgHover {
	opacity: 0.3;
	transform: scale(0.9);
	transition: all 1s;
}

.resume-img.imgBlur {
	opacity: 1;
	transform: scale(1);
	transition: all 1s;
}

.contact {
	padding-top: 3rem;
	margin-left: 15vw;
	position: relative;
	text-align: center;
	color: #333;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	& h1 {
		font-weight: 300;
		font-size: 2.5rem;
		letter-spacing: 15px;
		margin-bottom: 2rem;
		text-transform: uppercase;
	}
	& p {
		width: 700px;
		font-size: 1.75rem;
		margin: 0 auto 2rem auto;
	}

	&-background,
	&-backgroundTwo,
	&-backgroundThree {
		position: absolute;
		top: 0;
		left: 0;
		height: 130vh;
		width: 85vw;
		background-size: cover;
		background-position: center;
		background-attachment: fixed;
	}

	&-background {
		background-color: rgb(51, 51, 51);
		clip-path: polygon(100% 25%, 100% 100%, 0% 100%, 0% 90%);
		z-index: -90;
	}
	&-backgroundTwo {
		background-color: rgba(51, 51, 51, 0.39);
		clip-path: polygon(100% 0%, 100% 50%, 50% 70%, 50% 0%);
		z-index: -98;
	}
	&-backgroundThree {
		background-color: rgba(51, 51, 51, 0.2);
		clip-path: polygon(50% 0%, 50% 70%, 0% 90%, 0% 0%);
		z-index: -100;
	}
}

form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 600px;
	height: 550px;
	margin: 2rem auto;
	padding: 6rem 6rem;
	background-color: rgba(255, 255, 255, 0.808);
	border-radius: 34% 66% 59% 41% / 71% 30% 70% 29%;
	box-shadow: 0 0 25px $box-shadow;
	z-index: 99;
	&.formHover {
		border-radius: 0;
		transition: all 0.5s;
	}
	&.formBlur {
		border-radius: 34% 66% 59% 41% / 71% 30% 70% 29%;
		transition: all 0.5s;
	}
	& .form-head {
		display: flex;
		width: 100%;
		justify-content: flex-start;
		& input {
			width: 186px;
			padding: 0.5rem 1rem;
		}
		& .name-input {
			margin-right: 1rem;
			align-self: center;
			& p {
				font-size: 0.75rem;
				max-width: 150px;
				margin-right: 100%;
				color: maroon;
				visibility: hidden;
				margin-bottom: 0;
			}
			&.invalid {
				& input {
					border: 1px solid maroon;
				}
				& p {
					visibility: visible;
				}
			}
		}
		& .email-input {
			margin-left: 1rem;
			& p {
				font-size: 0.75rem;
				max-width: 150px;
				margin-right: 100%;
				color: maroon;
				visibility: hidden;
				margin-bottom: 0;
			}
			&.invalid {
				& input {
					border: 1px solid maroon;
				}
				& p {
					visibility: visible;
				}
			}
		}
	}
	& .form-body {
		width: 100%;
		margin: 0;
		& textarea {
			padding: 1rem;
		}
		& p {
			font-size: 0.75rem;
			max-width: 150px;
			margin-right: 100%;
			color: maroon;
			visibility: hidden;
			margin-bottom: 0;
		}
		&.invalid {
			& textarea {
				border: 1px solid maroon;
			}
			& p {
				visibility: visible;
			}
		}
	}
	& .submit {
		padding: 0.8rem 2.5rem;
		font-size: 1rem;
		margin: 1.5rem;
		background-color: rgba(26, 64, 154, 0.8);
		border: none;
		color: #fff;
		text-transform: uppercase;
		z-index: 0;
		box-shadow: 0 0 5px $box-shadow;
		&:hover {
			background-color: rgb(26, 64, 154);
			cursor: pointer;
			letter-spacing: 3px;
			margin-top: 2.1rem;
			padding: 0.5rem 2.5rem;
			transition: all 0.6s;
		}
	}
}

.name-input,
.email-input,
.form-body {
	display: flex;
	flex-direction: column;
	text-align: left;
}

.footer {
	display: none;
}
