@import 'resets';
@import 'variables';
@import 'queries';

a {
	color: $text-color;
	text-decoration: none;
	text-transform: uppercase;
}

input,
textarea {
	outline: transparent;
}

// =================================
// ======== Nav Section =========
// =================================

.nav {
	height: 100vh;
	width: 15vw;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
	padding: 2rem 2.5rem 1rem 1rem;
	box-shadow: 10px 0 35px $box-shadow;
	color: $text-color;
	background-color: #fff;
	position: fixed;
	overflow-x: hidden;
	overflow-y: hidden;
	top: 0;
	left: -13vw;
	z-index: 998999 !important;
	&.navHover {
		transform: translateX(13vw);
		transition: all 0.6s;
	}
	&.navBlur {
		transform: translateX(0vw);
		transition: all 0.6s;
	}
	&-name .name {
		background-color: $primary-color;
		color: #ddd;
		padding: 0.5rem 1.25rem;
		letter-spacing: 2px;
		line-height: 1.4;
		text-align: center;
		text-transform: uppercase;
		font-weight: 300;
		font-size: 1.5rem;
		box-shadow: 0 0 15px $box-shadow;
	}
	&-links {
		display: flex;
		flex-direction: column;
		list-style: none;
		& li {
			padding: 0.25rem 0;
			margin: 0.75rem 0;
			font-size: 0.8rem;
			letter-spacing: 2px;
			text-align: right;
			align-self: flex-end;
			border-bottom: none;
			&:hover {
				transform: translateX(-5px);
				transition: all 0.7s;
			}
			&.active {
				border-bottom: 1px solid $text-color;
			}
		}
	}
	&-bottom {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		text-align: right;
	}
	&-message {
		margin-bottom: 2rem;
		max-width: 150px;
	}
	&-icons a {
		max-width: 150px;
		margin: 0.5rem;
		font-size: 1.25rem;
		&:hover {
			color: $primary-color;
			opacity: 0.8;
			transform: translateY(-5px);
		}
	}
}

// =================================
// ======== Header Section =========
// =================================

.header {
	margin-left: 2vw;
	overflow-x: hidden;
	overflow-y: hidden;
	position: relative;
	z-index: 99999;
	& .background-circle {
		position: absolute;
		height: 400px;
		width: 400px;
		padding: 200px;
		background-color: $primary-color;
		border-radius: 50%;
		z-index: -99;
	}
}

.header-container {
	display: flex;
	flex-direction: column;
	padding: 1rem 3rem 5rem 3rem;
	background-color: #fff;
	border-radius: 1rem;
	box-shadow: 0 20px 25px -10px rgba(0, 0, 0, 0.336);
	max-width: 70rem;
	margin: 3rem auto;
	& .header-main {
		display: flex;
		justify-content: center;
		& .header-main-cards {
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			margin-right: 1rem;
			width: 60%;
			& .card {
				width: 48%;
				padding: 1.25rem 1.25rem 2rem 1.25rem;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				align-items: flex-start;
				border-radius: 0.5rem;
				margin-right: 0.5rem;
				margin-bottom: 0.5rem;
			}
		}
	}
}

/* Contains name and intro paragraph */
.header .header-head {
	max-width: 33rem;
	margin-bottom: 2.5rem;
}

.header .header-head h1 {
	font-size: 2.75rem;
	font-weight: 300;
	letter-spacing: 5px;
	& span {
		color: $primary-color;
	}
}

.header .header-head h5 {
	font-size: 1rem;
}

/* Individual card hover effect */
.header-main-cards .card:hover {
	cursor: pointer;
	background-color: $primary-color;
	color: #fff;
	transition: all 0.6s;
}

/* i within the card hover effect */
.header-main-cards .card:hover i {
	background-color: #fff;
	color: #444;
	transition: all 0.6s;
}

/* Activated through JS, sets colors when card is clicked */
.header-main-cards .card.choose {
	background-color: $primary-color;
	color: #fff;
}

/* same as above for i */
.header-main-cards .card i.choose {
	background-color: #fff;
	color: #444;
}

/* Sets top and bottom padding on each element within the cards */
.header-main-cards .card * {
	margin: 0.2rem 0;
}

/* settings for i within each card */
.header-main-cards .card i {
	padding: 1rem;
	font-size: 1.2rem;
	background-color: $primary-color;
	color: #fff;
	border-radius: 50%;
}

/* settings for card wording */
.header-main-cards .card h4 {
	letter-spacing: 2px;
}

.header-main-cards .card p {
	font-size: 0.8rem;
}

/* Container for what goes inside right hand display */
.header-card-list {
	height: 23rem;
	border: 1px solid #e4ebeb;
	border-radius: 1rem 1rem 0 0;
	width: 25%;
	padding: 0rem;
	box-shadow: 0 5px 10px -3px rgba(0, 0, 0, 0.26);
	text-align: center;
	position: relative;
	margin: 1rem 3rem 2.5rem 0;
}

/* This is what JS targets, set initial display to none and flex when activated */
.project-category {
	height: 100%;
	display: none;
	flex-direction: column;
	justify-content: flex-start;
	& img {
		opacity: 0.8;
		height: 33%;
		margin: 0;
		border-radius: 0.5rem 0.5rem 0 0;
		&:hover {
			cursor: pointer;
			opacity: 1;
			transition: all 0.6s;
		}
	}
	& p {
		display: none;
		font-size: 0.75rem;
	}
	& a {
		display: none;
	}
}

// When a project is chosen
.project-category img.chosenProject + p,
.project-category img.chosenProject + p + a {
	display: block;
}

.project-category a {
	color: $primary-color;
}

/* settings for content within display */
.utilities h4,
.games h4,
.websites h4,
.components h4 {
	font-size: 1.5rem;
}

.utilities i,
.games i,
.websites i,
.components i {
	font-size: 4rem;
}

.utilities i:hover,
.games i:hover,
.websites i:hover,
.components i:hover {
	transform: rotate(1800deg);
	transition: all 5s;
}

.project-category * {
	margin: 0.5rem 0;
}

.project h2 {
	font-size: 1rem;
}

.project p {
	max-width: 80%;
}

/* settings for the blue overlay on display, this is what JS targets */
.list-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 104%;
	height: 100%;
	padding: 50%;
	transform: translateX(-2%);
	background-color: $secondary-color;
	background-size: cover;
	border-radius: 1rem 1rem 0 0;
	z-index: 1;
	box-shadow: 0 25px 8px -15px rgba(0, 0, 0, 0.438);
	border: none;
}

/* Classes activated and deactivated through JS to show and hide display content */
.list-overlay.hideOverlay {
	height: 0px;
	padding: 0 50%;
	transition: all 1s;
}

.list-overlay.showOverlay {
	height: 100%;
	padding: 50%;
	transition: all 1s;
}

// =================================
// ======== Skills Section =========
// =================================

.skills {
	position: relative;
	margin-left: 2vw;
	padding: 2rem 9.1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	overflow-x: hidden;
	overflow-y: hidden;
	z-index: -999;
	position: relative;
	& h1 {
		font-size: 2.5rem;
		font-weight: 300;
		margin: 2rem;
		text-transform: uppercase;
		letter-spacing: 15px;
	}
	& .mySkills {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		text-align: center;
		overflow-x: hidden;
		z-index: -999;
		position: relative;
		& .skill {
			width: 15vw;
			margin: 1rem;
			position: relative;
			z-index: -999;
			& i {
				color: $text-color;
				font-size: 3.5rem;
				margin-bottom: 0.5rem;
				text-shadow: -1px -2px 5px $box-shadow;
				position: relative;
				z-index: -99;
				&.fa-html5:hover,
				&.fa-html5.skillColor {
					color: #df4b25;
				}
				&.fa-css3-alt:hover,
				&.fa-css3-alt.skillColor {
					color: #249ddb;
				}
				&.fa-js:hover,
				&.fa-js.skillColor {
					color: #f0d91d;
				}
				&.fa-bootstrap:hover,
				&.fa-bootstrap.skillColor {
					color: #543b79;
				}
				&.fa-sass:hover,
				&.fa-sass.skillColor {
					color: #c76396;
				}
				&.fa-node-js:hover,
				&.fa-node-js.skillColor {
					color: #73b258;
				}
				&.fa-git:hover,
				&.fa-git.skillColor {
					color: #e94e32;
				}
				&.fa-github-square:hover,
				&.fa-github-square.skillColor {
					color: #1a1e22;
				}
				&.fa-wordpress:hover,
				&.fa-wordpress.skillColor {
					color: #21759b;
				}
				&.fa-image:hover,
				&.fa-image.skillColor {
					color: #31a8ff;
				}
				&.fa-adjust:hover,
				&.fa-adjust.skillColor {
					color: #001e36;
				}
				&.fa-adobe:hover,
				&.fa-adobe.skillColor {
					color: #fa0f00;
				}
				&.fa-file-excel:hover,
				&.fa-file-excel.skillColor {
					color: #01723a;
				}
				&.fa-terminal:hover,
				&.fa-terminal.skillColor {
					color: #8dd35f;
				}
				&.fa-laptop:hover,
				&.fa-laptop.skillColor {
					color: #02c1ba;
				}
				&.fa-npm:hover,
				&.fa-npm.skillColor {
					color: #e32e37;
				}
			}
			& h2 {
				font-size: 1.1rem;
				font-weight: 400;
				letter-spacing: 2px;
			}
		}
	}
}

// =================================
// ======== Resume Section =========
// =================================

.resume {
	margin-left: 2vw;
	padding: 5rem 0;
	text-align: center;
	position: relative;
	background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(51, 51, 51, 0.5));
	overflow-x: hidden;
	overflow-y: hidden;
	overflow: hidden;
	z-index: 999;
	& h1 {
		font-weight: 300;
		font-size: 2.5rem;
		letter-spacing: 15px;
		margin-bottom: 2rem;
		text-transform: uppercase;
	}
	& img {
		height: 82vh;
		box-shadow: 0 0 25px $box-shadow;
		position: relative;
		z-index: 999;
	}
	& .fullScreen {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-color: $text-color;
		text-transform: uppercase;
		border: none;
		letter-spacing: 2px;
		text-align: center;
		padding: 0.5rem 2rem;
		opacity: 0;
		z-index: 9999;
		& a {
			color: #fff;
		}
	}
	& button.visible {
		opacity: 1;
		transition: all 1s;
		cursor: pointer;
		&:hover {
			background-color: #222;
			cursor: pointer;
			letter-spacing: 4px;
			transition: all 0.4s;
		}
	}
	& button.hidden {
		opacity: 0;
		transition: all 1s;
	}
}

.resume-img.imgHover {
	opacity: 0.3;
	transform: scale(0.9);
	transition: all 1s;
}

.resume-img.imgBlur {
	opacity: 1;
	transform: scale(1);
	transition: all 1s;
}

.resume .background-animation {
	height: 20px;
	width: 20px;
	padding: 10px;
	background: transparent;
	border: 2px solid $primary-color;
	position: absolute;
	z-index: -999;
	z-index: 7;
	overflow-x: hidden;
	overflow-y: hidden;
	overflow: hidden;
}

// =================================
// ======== Contact Section =========
// =================================

.contact {
	padding-top: 3rem;
	margin-left: 2vw;
	position: relative;
	text-align: center;
	color: #444;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	overflow-y: hidden;
	overflow-x: hidden;
	& h1 {
		margin-top: 2rem;
		font-weight: 300;
		font-size: 2.5rem;
		letter-spacing: 15px;
		margin-bottom: 2rem;
		text-transform: uppercase;
	}
	& p {
		width: 700px;
		font-size: 1.75rem;
		margin: 0 auto 2rem auto;
	}

	&-background,
	&-backgroundTwo,
	&-backgroundThree {
		position: absolute;
		top: 0;
		left: 0;
		height: 130vh;
		width: 100vw;
		background-size: cover;
		background-position: center;
		background-attachment: fixed;
		overflow-y: hidden;
		overflow-x: hidden;
	}

	&-background {
		background-color: $primary-color;
		opacity: 0.15;
		clip-path: polygon(100% 25%, 100% 100%, 0% 100%, 0% 90%);
		z-index: -90;
	}
	&-backgroundTwo {
		background-color: rgba(51, 51, 51, 0.39);
		clip-path: polygon(100% 0%, 100% 50%, 50% 70%, 50% 0%);
		z-index: -98;
	}
	&-backgroundThree {
		background-color: $primary-color;
		opacity: 0.6;
		clip-path: polygon(50% 0%, 50% 70%, 0% 90%, 0% 0%);
		z-index: -100;
	}
}

form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	// width: 600px;
	// height: 550px;
	margin: 2rem auto;
	padding: 6rem 6rem;
	background-color: rgba(255, 255, 255, 0.808);
	border-radius: 34% 66% 59% 41% / 71% 30% 70% 29%;
	box-shadow: 0 0 25px $box-shadow;
	z-index: 99;
	color: #444;
	&.formHover {
		border-radius: 0;
		transition: all 0.5s;
	}
	&.formBlur {
		border-radius: 34% 66% 59% 41% / 71% 30% 70% 29%;
		transition: all 0.5s;
	}
	& .form-head {
		display: flex;
		width: 100%;
		justify-content: flex-start;
		& input {
			width: 186px;
			padding: 0.5rem 1rem;
		}
		& .name-input {
			margin-right: 1rem;
			align-self: center;
			& p {
				font-size: 0.75rem;
				max-width: 150px;
				margin-right: 100%;
				color: maroon;
				visibility: hidden;
				margin-bottom: 0;
			}
			&.invalid {
				& input {
					border: 1px solid maroon;
				}
				& p {
					visibility: visible;
				}
			}
		}
		& .email-input {
			margin-left: 1rem;
			& p {
				font-size: 0.75rem;
				max-width: 150px;
				margin-right: 100%;
				color: maroon;
				visibility: hidden;
				margin-bottom: 0;
			}
			&.invalid {
				& input {
					border: 1px solid maroon;
				}
				& p {
					visibility: visible;
				}
			}
		}
	}
	& .form-body {
		width: 100%;
		margin: 0;
		& textarea {
			padding: 1rem;
		}
		& p {
			font-size: 0.75rem;
			max-width: 150px;
			margin-right: 100%;
			color: maroon;
			visibility: hidden;
			margin-bottom: 0;
		}
		&.invalid {
			& textarea {
				border: 1px solid maroon;
			}
			& p {
				visibility: visible;
			}
		}
	}
	& .submit {
		padding: 0.8rem 2.5rem;
		font-size: 1rem;
		margin: 1.5rem;
		background-color: $primary-color;
		opacity: 0.8;
		border: none;
		color: #fff;
		text-transform: uppercase;
		z-index: 0;
		box-shadow: 0 0 5px $box-shadow;
		&:hover {
			background-color: $primary-color;
			cursor: pointer;
			letter-spacing: 3px;
			margin-top: 2.1rem;
			padding: 0.5rem 2.5rem;
			transition: all 0.6s;
		}
	}
}

.name-input,
.email-input,
.form-body {
	display: flex;
	flex-direction: column;
	text-align: left;
}

.footer {
	display: none;
}
