* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 1.75;
	background: #aa2b33;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.content {
	position: relative;
	height: 550px;
	width: 700px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 6rem;
	background-color: #24141c;
	color: #b2aaab;
	border-radius: 10px;
	box-shadow: 0 15px 20px -7px rgba(36, 20, 28, 1);
}

.basic {
	border-right: 1px solid #b2aaab25;
}

.basic,
.pro {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 0 4rem;
}

.basic h1,
.pro h1 {
	font-size: 1.8rem;
}

.basic h3,
.pro h3 {
	font-size: 1.1rem;
	font-weight: 300;
}

.basic p,
.pro p {
	font-size: 0.9rem;
	font-weight: 300;
}

.basic li,
.pro li {
	font-size: 0.9rem;
	font-weight: 300;
}

.basic-btn {
	width: 187px;
	text-align: center;
	padding: 0.8rem 0;
	background: transparent;
	border: 1px solid #aa2b33;
	color: #aa2b33;
	border-radius: 5px;
}

.basic-btn:hover {
	background: #aa2b33;
	border: 1px solid #aa2b33;
	color: #b2aaab;
}

.pro-btn {
	width: 187px;
	text-align: center;
	padding: 0.8rem 4rem;
	background: #aa2b33;
	border: 1px solid #aa2b33;
	color: #b2aaab;
	border-radius: 5px;
}

.pro-btn:hover {
	background: transparent;
	border: 1px solid #aa2b33;
	color: #aa2b33;
}

.basic-btn:hover,
.pro-btn:hover {
	cursor: pointer;
}

.content-shadow {
	width: 90px;
	height: 840px;
	padding: 420px 45px;
	border-radius: 100%;
	background: radial-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
	transform: rotate(90deg);
	position: absolute;
	top: 24%;
	left: 43.5%;
	z-index: -999;
}

@media screen and (max-width: 1030px) {
	.content {
		height: 450px;
		width: 550px;
		padding: 4rem;
	}

	.basic,
	.pro {
		padding: 0 2.5rem;
	}

	.content-shadow {
		width: 80px;
		height: 725px;
		padding: 250px 40px;
		top: 20%;
		left: 42%;
	}
}

@media screen and (max-width: 765px) {
	.content {
		height: 250px;
		width: 300px;
		padding: 1rem;
		font-size: 10px;
		position: absolute;
		/* top: 50%;
		left: 50%;
		transform: translate(-50%, -50%); */
	}
}

body {
	background-image: url;
}
