* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 1.75;
	background: #aa2b33;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.content {
	position: relative;
	width: 42rem;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 4.5rem;
	background-color: #24141c;
	color: #b2aaab;
	border-radius: 10px;
	box-shadow: 0 15px 20px -7px rgba(36, 20, 28, 1);
}

.basic {
	border-right: 1px solid #b2aaab25;
}

.basic,
.pro {
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.pro {
	padding-left: 5%;
}

.basic .section,
.pro .section {
	margin: 1.5rem 0;
}

.basic h1,
.pro h1 {
	font-size: 1.8rem;
}

.basic h3,
.pro h3 {
	font-size: 1.1rem;
	font-weight: 300;
}

.basic p,
.pro p {
	font-size: 0.9rem;
	font-weight: 300;
}

.basic li,
.pro li {
	font-size: 0.9rem;
	font-weight: 300;
}

.basic-btn {
	width: 90%;
	text-align: center;
	padding: 0.8rem 0;
	background: transparent;
	border: 1px solid #aa2b33;
	color: #aa2b33;
	border-radius: 5px;
}

.basic-btn:hover {
	background: #aa2b33;
	border: 1px solid #aa2b33;
	color: #b2aaab;
}

.pro-btn {
	width: 100%;
	text-align: center;
	padding: 0.8rem 0;
	background: #aa2b33;
	border: 1px solid #aa2b33;
	color: #b2aaab;
	border-radius: 5px;
}

.pro-btn:hover {
	background: transparent;
	border: 1px solid #aa2b33;
	color: #aa2b33;
}

.basic-btn:hover,
.pro-btn:hover {
	cursor: pointer;
}

.content-shadow {
	width: 40rem;
	height: 6rem;
	padding: 45px 420px;
	border-radius: 100%;
	background: radial-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: -1;
}

@media screen and (max-width: 769px) {
	.content-shadow {
		display: none;
	}
}

@media screen and (max-width: 750px) {
	.content {
		width: 95vw;
		padding: 1.5rem;
		overflow: hidden;
	}

	.basic .section,
	.pro .section {
		margin: 1rem 0;
	}

	.basic h1,
	.pro h1 {
		font-size: 1.25rem;
	}

	.basic h3,
	.pro h3 {
		font-size: 0.9rem;
		font-weight: 300;
	}

	.basic p,
	.pro p {
		font-size: 0.7rem;
		font-weight: 300;
	}

	.basic li,
	.pro li {
		font-size: 0.7rem;
		font-weight: 300;
	}
}
